body {
  margin: 0;
}
article {
  max-width: 1024px;
}
.list-bg {
  background: rgb(249, 250, 255);
  padding: 10px;
}
.list-item {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
}
.list-item-title-container {
  display: flex;
  justify-content: space-between;
}
.list-item-title-container span {
  padding: 0 5px;
}
.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.list-item p {
  color: grey;
  margin: 5px 0px;
}
.list-item span {
  color: grey;
  margin: 5px 0px;
}

.detail-content-title-container {
  display: flex;
  justify-content: space-between;
}

.detail-comment-title-container {
  display: flex;
  justify-content: space-between;
}
.detail-comment-title-container span {
  padding: 0px 5px 0px 0px;
}

.p-20 {
  padding: 1rem;
}
input {
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  display: block;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 10px;
  margin-bottom: 10px;
}
input:focus {
  border-color: #5db0ff;
  outline: 0;
  box-shadow: 0 0 0 0.125rem rgba(52, 142, 227, 0.3);
}

button {
  padding: 10px 15px;
  background: lightgray;
  border: none;
}
a {
  text-decoration: none;
}
.navbar {
  background: white;
  padding: 20px;
}
.navbar a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}
.navbar span {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

.logo {
  font-weight: bold;
}

.list-item {
  opacity: 1;
  transition: all 1s;
}

.dark-mode .navbar {
  background: #222;
}

.dark-mode .navbar span {
  color: white;
}

#detail-wrapper p {
  white-space: pre;
}

#detail-wrapper img {
  max-width: 100%;
  height: auto;
  display: block;
}

#write-wrapper textarea {
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  display: block;
  resize: none;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 10px;
  margin-bottom: 10px;
}

#write-wrapper textarea:focus {
  border-color: #5db0ff;
  outline: 0;
  box-shadow: 0 0 0 0.125rem rgba(52, 142, 227, 0.3);
}
